<% include ./partials/header %> 

<h1>Login!</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="lastname" placeholder="lastname">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="phonenuber" placeholder="phonenuber">
    <input type="text" name="sex" placeholder="sex">
    <input type="text" name="school" placeholder="school">
    <input type="text" name="childname" placeholder="childname">
    <input type="text" name="childage" placeholder="childage">
    <input type="text" name="address" placeholder="address">
    <input type="text" name="prof" placeholder="prof">
    <input type="submit" value="Login!">
</form>

<% include ./partials/footer %> 
